.main-timeline{
    font-family: 'Montserrat', sans-serif;
    padding: 25px 0 0;
}
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 50%;
    padding: 32px 18px 0 0;
    margin: 0 5px 0 0;
    float: left;
}
.main-timeline .timeline-content{
    color: #01C2A3;
    text-align: center;
    min-height: 140px;
    padding: 40px 20px 20px;
    border: 4px dotted #01C2A3;
    border-radius: 20px;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-year{
    color: #01C2A3;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    right: -57px;
    top: 50%;
}
.main-timeline .timeline-icon{
    color: #01C2A3;
    font-size: 70px;
    text-shadow: -5px 5px 10px rgba(0,0,0,0.2);
    position: absolute;
    left: 20px;
    top: -51px;
    z-index: 1;
}
.main-timeline .title{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 5px;
}
.main-timeline .description{
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: right;
    padding: 32px 0 0 18px;
    margin: 0 0 0 5px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: -61px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    left: auto;
    right: 20px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{
    color: #FF2D5A;
    border-color: #FF2D5A;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-year,
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{
    color: #FF2D5A;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content{
    color: #3D3D3D;
    border-color: #3D3D3D;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-year,
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{
    color: #3D3D3D;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content{
    color: #0150C9;
    border-color: #0150C9;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-year,
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{
    color: #0150C9;
}
@media screen and (max-width:576px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even){
        width: 100%;
        padding: 33px 0 0;
        margin: 0 0 30px;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year{
        transform: translateX(0) translateY(0);
        top: -33px;
        left: auto;
        right: 20px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-year{
        right: auto; 
        left: 20px;
    }
}